# Eclipse-specific data and directories

.project
.buildpath
.settings

MetaCoin/MetaCoin.pro.user

ThirdParty/qjson-0.7.1/qjson/CMakeFiles
ThirdParty/qjson-0.7.1/qjson/build

# PHP BitCoin Library

.git
build.xml